body {
    margin:0px;
}

.logo {
    width: 50px;
    height: auto;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    line-height: 2.5;
    z-index: 1;
    padding-inline-start: 15px;
    top: 35px;
    left: -40px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown-content a {
    text-decoration: none;
    display: block;
}

.dropdown-content li {
    list-style-type: none;
}

.left-one {
    display: inline-block;
    float: left;
}

.right-one {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 100px;
}

.text-decor {
    padding-inline-start: 20px;
}

nav {
    height: 50px;
    background-color: lightblue;
}




