* {
    box-sizing: border-box;
}

.request-wrapper,
.progress-wrapper {
    margin:auto;
    padding-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.make-request {
    padding:3px 6px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #123456;
    border-radius: 4px;
}
#data-table {
    width: 80%;
    border-collapse: collapse;
}

#data-table td, 
#data-table th {
    border: 1px solid #000000;
}

.input-wrapperinput {
    width: 100%;
}

.btn-wrapper {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.btn-wrapper button {
    height: 30px;
    padding: 5px;
    border: 1px solid;
}

.aside-left {
    display:inline-block;
    width: 20%;
}

.aside-right {
    padding: 0 20px;
    display: inline-block;
    width: 80%;
}

.aside-right .progress {
    height: 5px;
    width: 100%;
    background: gray;
}